<form nz-form nzLayout="vertical" [formGroup]="changePasswordForm" autocomplete="off" (ngSubmit)="saveChanges()">
  <nz-form-item>
    <nz-form-label nzFor="currentPassword" nzRequired>Mật khẩu hiện tại</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu hiện tải!">
      <input nz-input type="password" formControlName="currentPassword" id="currentPassword">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="newPassword" nzRequired>Mật khẩu mới</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu hiện tải!">
      <input nz-input type="password" formControlName="newPassword" id="newPassword">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="confirmNewPassword" nzRequired>Nhập lại mật khẩu mới</nz-form-label>
    <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu hiện tải!">
      <input nz-input type="password" formControlName="confirmNewPassword" id="confirmNewPassword">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 0;">
    <button nz-button nzType="primary" type="submit" [nzLoading]="loadingSaveChanges">Cập nhật</button>
  </nz-form-item>
</form>