<nz-card class="table-card" nzSize="small" nzTitle="Danh sách dự án" [nzExtra]="extraTemplate">
  <div nz-row class="table-actions">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Tìm kiếm..." #keyword (keyup.enter)="search(keyword.value)" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search(keyword.value)">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="text-right">
      <button nz-button nzType="primary" (click)="create()">
        <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm mới
      </button>
    </div>
  </div>
  <nz-table nzShowSizeChanger nzBordered nzSize="small" [nzData]="listOfData" [nzFrontPagination]="false"
    [nzShowQuickJumper]="pagination?.totalPages > 1" [nzLoading]="loading" [nzTotal]="pagination?.totalItems"
    [nzPageSize]="pagination?.itemsPerPage" [nzPageIndex]="pagination?.currentPage"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th style="width: 5%">STT</th>
        <th style="width: 10%">Ảnh đại diện</th>
        <th style="width: 25%">Tên dự án</th>
        <th style="width: 20%">Loại dự án</th>
        <th style="width: 40%">Mô tả</th>
      </tr>
    </thead>
    <tbody class="cursor-row">
      <tr *ngFor="let data of listOfData; let i=index" (contextmenu)="contextMenu($event, menu)"
        (dblclick)="update(data)">
        <td>{{(i * pagination.itemsPerPage) + (i + 1)}}</td>
        <td>
          <img [src]="data?.imageBase64" width="100px" />
        </td>
        <td>{{ data?.name }}</td>
        <td>{{ data?.categoryName }}</td>
        <td>
          <div [innerHTML]="data?.description"></div>
        </td>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="update(data)">
              <i nz-icon nzType="edit" nzTheme="outline"></i>Sửa
            </li>
            <li nz-menu-item (click)="delete(data.id)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>Xóa
            </li>
          </ul>
        </nz-dropdown-menu>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <nz-select nzSize="small" [(ngModel)]="pagingParams.languageId" (ngModelChange)="changeLanguage($event)">
    <nz-option *ngFor="let item of languages" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
  </nz-select>
</ng-template>