<nz-spin [nzSpinning]="spinning">
  <form nz-form [formGroup]="slideForm" autocomplete="off">
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="18">
        <nz-card nzSize="small">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" x nzFor="title_VN">Tiêu đề (VI)</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input type="text" nz-input formControlName="title_VN" id="title_VN" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" x nzFor="title_EN">Tiêu đề (EN)</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input type="text" nz-input formControlName="title_EN" id="title_EN" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="description_VN">Mô tả (VI)</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <textarea nz-input formControlName="description_VN" id="description_VN"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" id="description_EN">Mô tả (EN)</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <textarea nz-input formControlName="description_EN" id="description_EN"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" x nzFor="url_VN">Đường dẫn (VI)</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input type="text" nz-input formControlName="url_VN" id="url_VN" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" x nzFor="url_EN">Đường dẫn (EN)</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input type="text" nz-input formControlName="url_EN" id="url_EN" />
            </nz-form-control>
          </nz-form-item>
        </nz-card>
      </div>
      <div nz-col nzSpan="6">
        <nz-card nzSize="small" nzTitle="Hình ảnh">
          <nz-form-item style="margin-bottom: 0;">
            <nz-form-control nzErrorTip="Vui lòng chọn hỉnh ảnh.">
              <div *ngIf="!src" class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop
                (onFileDropped)="uploadFile($event)">
              </div>
              <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
              <img *ngIf="src" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)"
                style="width: 100%; cursor: pointer;" [src]="src">
              <div style="text-align: center;">{{slideForm.value.imageName}}</div>
              <input hidden type="text" nz-input formControlName="imageName" />
            </nz-form-control>
          </nz-form-item>
        </nz-card>
        <nz-card style="margin-top: 10px;" nzSize="small" nzTitle="Trạng thái">
          <label nz-checkbox formControlName="status">{{slideForm.value.status ? 'Kích hoạt' : 'Khóa'}}</label>
        </nz-card>
      </div>
    </div>
  </form>
</nz-spin>

<div *nzModalFooter>
  <button [disabled]="!slideForm.dirty" nz-button nzType="primary" (click)="saveChanges()"
    [nzLoading]="loadingSaveChanges">
    <i nz-icon nzType="save" nzTheme="outline"></i>Lưu
  </button>
  <button nz-button nzType="default" (click)="destroyModal()">
    <i nz-icon nzType="close" nzTheme="outline"></i>Hủy
  </button>
</div>