<nz-spin [nzSpinning]="spinning">
  <form nz-form [formGroup]="projectCategoryForm" autocomplete="off">
    <nz-form-item>
      <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="name_VN">Tên loại (VN)</nz-form-label>
      <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Vui lòng nhập tên loại dự án.">
        <input type="text" nz-input formControlName="name_VN" id="name_VN" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="name_EN">Tên loại (EN)</nz-form-label>
      <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Vui lòng nhập tên loại dự án.">
        <input type="text" nz-input formControlName="name_EN" id="name_EN" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>

<div *nzModalFooter>
  <button [disabled]="!projectCategoryForm.dirty" nz-button nzType="primary" (click)="saveChanges()" [nzLoading]="loadingSaveChanges">
    <i nz-icon nzType="save" nzTheme="outline"></i>Lưu
  </button>
  <button nz-button nzType="default" (click)="destroyModal()">
    <i nz-icon nzType="close" nzTheme="outline"></i>Hủy
  </button>
</div>