<div nz-row class="table-actions">
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Tìm kiếm..." #keyword (keyup.enter)="search(keyword.value)" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="search(keyword.value)">
        <i nz-icon nzType="search"></i>
      </button>
    </ng-template>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="text-right">
    <button nz-button nzType="primary" (click)="create()">
      <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm mới
    </button>
  </div>
</div>

<nz-table nzShowSizeChanger nzBordered nzSize="small" [nzData]="listOfData" [nzFrontPagination]="false"
  [nzShowQuickJumper]="pagination?.totalPages > 1" [nzLoading]="loading" [nzTotal]="pagination?.totalItems"
  [nzPageSize]="pagination?.itemsPerPage" [nzPageIndex]="pagination?.currentPage"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody class="cursor-row" cdkDropList (cdkDropListDropped)="drop($event)">
    <tr *ngFor="let data of listOfData" (contextmenu)="contextMenu($event, menu)" (dblclick)="update(data)" cdkDrag>
      <td>{{ data?.name }}</td>
      <td>{{ data?.description }}</td>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="update(data)">
            <i nz-icon nzType="edit" nzTheme="outline"></i>Edit
          </li>
          <li nz-menu-item (click)="delete(data.id)">
            <i nz-icon nzType="delete" nzTheme="outline"></i>Delete
          </li>
        </ul>
      </nz-dropdown-menu>
    </tr>
  </tbody>
</nz-table>