<nz-spin [nzSpinning]="spinning">
  <form nz-form [formGroup]="productForm" autocomplete="off">
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="18">
        <nz-card nzSize="small" nzTitle="Thông tin chung" [nzExtra]="extraTemplate">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="name">Tên sản phẩm</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24" nzErrorTip="Vui lòng nhập tên sản phẩm.">
              <input type="text" nz-input formControlName="name" id="name" (keyup)="changeName($event.target.value)" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="seoAlias">Đường dẫn seo</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <input type="text" nz-input formControlName="seoAlias" id="seoAlias" readonly />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24">Mô tả ngắn</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <ckeditor [config]="config" formControlName="shortDescription"></ckeditor>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24">Mô tả chi tiết</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <ckeditor [config]="config" formControlName="detailedDescription"></ckeditor>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="seoPageTitle">Tên tiêu đề</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24" nzErrorTip="Vui lòng nhập tên tiêu đề.">
              <input type="text" nz-input formControlName="seoPageTitle" id="seoPageTitle" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="seoKeywords">Từ khóa seo</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <textarea nz-input formControlName="seoKeywords" id="seoKeywords"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="seoDescription">Mô tả seo</nz-form-label>
            <nz-form-control [nzSm]="19" [nzXs]="24">
              <textarea nz-input formControlName="seoDescription" id="seoDescription"></textarea>
            </nz-form-control>
          </nz-form-item>
        </nz-card>
        <ng-template #extraTemplate>
          <nz-select nzSize="small" [nzDisabled]="productForm.dirty" formControlName="languageId" id="languageId"
            (ngModelChange)="changeLanguage($event)">
            <nz-option *ngFor="let item of languages" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </ng-template>
      </div>
      <div nz-col nzSpan="6">
        <nz-card nzSize="small" nzTitle="Loại sản phẩm">
          <nz-form-item>
            <nz-form-control nzErrorTip="Vui lòng chọn loại sản phẩm.">
              <nz-select formControlName="categoryId" id="categoryId">
                <nz-option *ngFor="let item of productCategories" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-card>
        <nz-card style="margin-top: 10px;" nzSize="small" nzTitle="Ảnh đại diện">
          <nz-form-item style="margin-bottom: 0;">
            <nz-form-control nzErrorTip="Vui lòng chọn ảnh đại diện.">
              <div *ngIf="!src" class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop
                (onFileDropped)="uploadFile($event)">
              </div>
              <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
              <img *ngIf="src" (click)="fileInput.click()" appDragDrop
              (onFileDropped)="uploadFile($event)" style="width: 100%; cursor: pointer;" [src]="src">
              <div style="text-align: center;">{{productForm.value.imageName}}</div>
              <input hidden type="text" nz-input formControlName="imageName" />
            </nz-form-control>
          </nz-form-item>
        </nz-card>
        <nz-card style="margin-top: 10px;" nzSize="small" nzTitle="Trạng thái">
          <label nz-checkbox formControlName="status">{{productForm.value.status ? 'Kích hoạt' : 'Khóa'}}</label>
        </nz-card>
      </div>
    </div>
  </form>
</nz-spin>

<div *nzModalFooter>
  <button [disabled]="!productForm.dirty" nz-button nzType="primary" (click)="saveChanges()"
    [nzLoading]="loadingSaveChanges">
    <i nz-icon nzType="save" nzTheme="outline"></i>Lưu
  </button>
  <button nz-button nzType="default" (click)="destroyModal()">
    <i nz-icon nzType="close" nzTheme="outline"></i>Hủy
  </button>
</div>